<h1 class="home-header">Welcome to FailForward</h1>

<div class="main-section">
  <div class="hover-tile-outer">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        What is FailForward?
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h4>A Place to Learn</h4>
          <p>Connect with peers within your industry, share stories of failure, subsequent knowledge gained, and grow. Never stop failing, never stop learning, and always fail forward.</p>
      </div>
    </div>
  </div>

  <div class="signin-button">
    <%= link_to 'Sign-up with LinkedIn', signin_path(:linkedin) %>
  </div>
</div>

<div class="about">
  <p>An Open Source Passion Project by <a href='http://apatterson.me'>Adam Patterson</a></p>
  <p>Check me out on <a href='http://www.linkedin.com/in/adampatterson1'>LinkedIn</a></p>
  <p>See my code on <a href='http://www.github.com/atom1262/fail-forward'>GitHub</a></p>
</div>
