<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a class="mobile-logo">
      <img src="<%= current_user.picture_url %>" alt="User Photo">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a><%= link_to 'Home', user_path(current_user.id) %></a></li>
      <li class="nav-link js-menu-trigger"><a href="javascript:void(0)">Menu</a>
      <li class="nav-link"><a><%= link_to 'Sign Out', signout_path %></a></li>
      <li class="nav-link logo">
        <a class="nav-link-logo">
          <img src="<%= current_user.picture_url %>" alt="User Photo">
        </a>
      </li>
      <li class="nav-link"><a href="http://apatterson.me">About</a></li>
      <li class="nav-link"><a href="mailto:adam@apatterson.me">Contact</a></li>
      <li class="nav-link"><a href="https://github.com/atom1262/fail-forward">Code</a></li>
    </ul>
  </div>
</header>
