<div id="welcome_sign">
  <h1>Welcome to Fail Forward</h1>

  <p> fail forward is a forum for professionals to connect within their industry, share stories of failure, and discuss the knowledge gained from those experiences. Sign in with your LinkedIn account today and start learning! </p>


  <h2> Never stop failing, never stop learning! </h2>
</div>
