<li>
  <%= link_to post.title, post %> <%= pluralize(post.comments.count, 'comment') %>
  <% if !current_user.owns?(post) %>
    submitted by <%= link_to post.user.formatted_name, user_path(post.user_id) %>
  <% end %>
</li>
