<h1>FailForward Signed-in Homepage</h1>

<%= link_to 'Add a New Post', new_post_path %>

<% @posts.each do |post| %>
  <ul>
    <%= link_to post.title, post_path(post) %>
    <%= post.industry.name %>
  </ul>
<% end %>
