.main-section {
  @include outer-container;
  @include clearfix;
  height: 100%;

  .user-information {
    display: inline;
    margin: 1em auto 1em auto;

    h4,h3,.knowledge-level {
        display: block;
    }
  }
  .user-industry {
    display: inline;
  }
  .user-posts {
    margin: 1em auto auto auto;
  }
}
