@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "refills/vertical-tabs";
@import "refills/comment";
@import "refills/navigation";
@import "sample";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.post_title {
  width: 30%;
}

.post_body {
  width: 50%;
}

.comment_body {
  padding-top: 10px;
  width: 50%;
}

.comment_button {
}

.title {
  font-size: 20px;
  float: left;
  width: 25%;
}

.industry {
  font-size: 20px;
  float: left;
  width: 26%;
}

.author {
  font-size: 20px;
  float: left;
  width: 27%;
}

.subscribe_button {
  float: left;
  width: 40%;
}

.fail {
  float: left;
  padding-left: 10px;
  width: 48%;
  height: 300px;
  padding-left: 25px;
  background-color: rgb(208,208,208);
  overflow: auto;
}

.knowledge {
  float: right;
  padding-left: 25px;
  padding-right: 10px;
  width: 48%;
  height: 300px;
  background-color: rgb(208,208,208);
  overflow: auto;
}

.delete_button {
  float: left;
  width: 34%;
}

.edit_button {
  float: left;
  @include shift(1);
  width: 9%;
}

.knowledge_button {
  float: left;
  width: 40%;
}

.improvement_body {
  width: 60%;
}

.share_button {
}
