@import "bourbon";
@import "neat";
@import "bitters/bitters";
@import "refills/navigation";
@import "refills/vertical-tabs";
@import "refills/comment";
@import "landing";
@import "navigation";
@import "footer";
@import "posts";
@import "comments";
@import "buttons";

body {
  margin: 0;
  padding: 0;
  background-color: $base-body-color;
}
