<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">User Controls</p>
    <p class="dropdown-button">Click to Select</p>
    <ul class="menu">
      <li><%= link_to 'Share New Knowledge', new_post_improvement_path(@post) %></li>
      <li><%= link_to 'Edit Post', edit_post_path(@post) %></li>
      <li><%= link_to 'Delete Post', @post, method: :delete %></li>
    </ul>
  </div>
</div>
